body {
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3 { margin: 0.5rem; }

h1{
  font-size:1.5rem;
}
h2{
  font-size:1.2rem;
}
h3{
  font-size: 1rem;
}
a {
  text-decoration: none;
}

.row{
  display: flex;
  justify-content: space-between;
}

.col-1{
  flex: 1;
}
.col-2{
  flex:2;
}
.block{
  border: 2px lightgray solid ;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.row.center{
  align-items: center;
}
img.small{
  max-height: 8rem;
}

button{
  background-color: white; /* gr */
  border: 1px lightgray solid;
  border-radius: 5%;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover{
  background-color: gray;
}

button.add{
  background-color: lightblue;
  width: 1.5rem;
}

button.remove{
  background-color: tomato;
  width: 1.5rem;
}

button.badge{
  background-color: tomato;
  border: none;
  color: white;
  width: 1.5rem;
}
.text-right{
  text-align: right;
}
@media only screen and (max-width: 900px) {
  .row{
    display: block;
    justify-content: space-between;
  } 

}

.logo {
  max-width: 7rem;
  max-height: 100%;
}
.cartLogo{
  max-width: 3rem;
}
.backImg{
  max-width: 100%;
  max-height: 100%;
}
